#title {
    text-align: center;
    width: 85%;
    margin-inline: auto;
    padding: 2rem 0;
  }
  
  .banner-image {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    max-height: 40rem;
  }
  
  .categories {
    display: flex;
    gap: var(--size-3);
    margin: var(--size-3);
    flex-wrap: wrap;
    
    > * {
      padding: var(--size-2) var(--size-3);
      border-radius: var(--radius-round);
      background: var(--opposite-font-color);
    }
  }